
/*
Table of Contents:
1. Universal styles 2. Header
3. Introduction 4. Information
5. Courses 6. Thesis
7. Footer 8. Media Queries
*/

/* 1. Universal styles */

html {
  display: block;
  font-family: 'Quattrocento', serif;
  font-size: 16px;
}

body {
  display: block;
  margin: 0;
}

div {
  display: block;
}

/* Fonts */

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.9rem;
  font-weight: 600;
  line-height: 3rem;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
}

p {
  font-size: 0.889rem;
  font-weight: 450;
  line-height: 1.5rem;
}

#courses h2,
#thesis h2 {
  padding-top: 2rem;
  text-align: center;
}

/* Containers, columns, and items */

.main-content {
  background-color: lightskyblue;
}

.container {
  display: flex;
  position: relative;
}

#courses,
#thesis {
  top: 0rem;
}

.column-left {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  width: 60%;
}

.image-content {
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
}

.column-right {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  width: 40%;
}

.column-right .item {
  /* border-top: 1px solid lightgrey; */
  display: flex;
  height: auto;
  padding: 1rem 0 1rem 1rem;
  width: auto;
  transition: background-color 0.5s linear, color 0.5s linear;
}

.column-right .item:hover {
  background-color: mediumblue;
  color: linen;
}

.column-right .image-content {
  width: 35%;
}

.mobile-image-content {
  display: none;
}

.column-right .editorial-content {
  align-self: center;
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  padding-left: 1rem;
  width: 65%;
}

.column-central {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 3.5rem;
  padding: 2rem 1.5rem;
}

.column-central .item {
  box-sizing: border-box;
  flex: auto;
  padding: 0 1rem 2rem 1rem;
  width: 30%;
}

.column-central .item .editorial-content {
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  padding: 1rem 1rem 1.5rem 1rem;
  transition: background-color 0.5s linear, color 0.5s linear;
}

.column-central .item .editorial-content:hover {
  background-color: indigo;
  color: linen;
}

/* Transitions and Colors */

#introduction,
#courses {
  background-color: lightcyan;
}

.button:hover, .link:hover {
  color: goldenrod;
  font-weight: bold;
}

.link {
  color: magenta;
  transition: background-color 0.5s linear, color 0.5s linear, font-weight 0.5s linear;
}

/* 2. Header */

header {
  font-family: 'Oswald', sans-serif;
  align-items: center;
  background-color: PaleTurquoise;
  display: flex;
  height: 4rem;
  justify-content: flex-start;
  width: 100%;
}

.logo {
  align-items: center;
  display: flex;
  flex-grow: 1;
  padding-left: 1.5rem;
}

.logo img {
  height: 3rem;
  width: auto;
}

.logo span {
  font-size: 2rem;
}

.colmar {
  font-weight: bold;
  color: navy;
  text-transform: uppercase;
}

.academy {
  font-size: .5rem;
  font-style: italic;
  color: tomato;
  text-transform: lowercase;
}

header nav {
  padding-right: 1rem;
}

nav {
  display: block;
}

.desktop ul li {
  display: inline-block;
  font-size: 1.3rem;
  margin-left: 1rem;
  padding: .5rem;
  text-align: center;
  transition: color 0.5s linear, font-weight 0.5s linear;
}

.desktop ul li:hover {
  color: midnightblue;
  font-weight: bold;
}

.mobile ul li {
  display: none;
}

/* 3. Introduction */

#introduction .column-right {
  align-self: center;
}

#introduction .editorial-content {
  padding-left: 1rem;
  width: 90%;
}

#introduction h3 {
  padding-top: 1.5rem;
}

.button {
  background-color: navy;
  border-radius: 0.25rem;
  color: tomato;
  margin-top: 1.5rem;
  padding: .8rem 0 ;
  text-align: center;
  width: 80%;
  transition: background-color 0.5s linear, color 0.5s linear, font-weight 0.5s linear;
}

.button:hover {
  background-color: purple;
  font-weight: bold;
}

/* 4. Information */

#information .image-content {
  padding-bottom: 2rem;
}

#information .column-left p {
  padding-top: 1.5rem;
}

#information .column-right {
  border-left: 1px solid lightgrey;
}

.signature {
  padding: 2rem 0;
}

.signature span,
.link {
  font-size: 0.889rem;
  font-weight: 450;
}

/* 5. Courses */

#courses span {
  text-transform: uppercase;
}

/* 6. Thesis */

#thesis .column-left p {
  padding-top: 0.5rem;
}

#thesis .editorial-content {
      padding-top: 1.5rem;
}
#thesis .column-right {
  margin-right: 0.30rem;
}

#thesis .item {
  border-top: none;
  padding: 1rem 0 1rem 1rem;
}

video {
  height: auto;
  width: 100%;
}

/* 7. Footer */

footer {
  font-family: 'Oswald', sans-serif;
  align-items: center;
  background-color: darkslategrey;
  border-top: 1px solid lightgrey;
  display: flex;
  position: relative;
  width: 100%;
  z-index: 1;
}

footer .copyright {
  color: floralwhite;
  display: flex;
  flex-grow: 1;
  padding: 2rem 1.5rem;
}

footer .legal {
  color: lemonchiffon;
  display: inline-block;
  padding-right: 1rem;
}

.legal span {
  padding: 2rem 0.5rem;
  transition: color 0.5s linear, font-weight 0.5s linear;
}

.legal span:hover {
  font-weight: bold;
  color: orange;
}

/* 8. Media Queries */

@media only screen and (min-width: 320px) and (max-width: 480px) {

html,
body {
  margin: 0;
  width: auto;
	}

/* Header */

header {
  display: flex;
  justify-content: space-around;
  position: static;
}

.logo {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.desktop {
  display: none;
}

.logo img {
  margin: 0 1.5rem;
}

.colmar,
.academy {
  display: none;
}

.mobile ul li {
  display: inline-block;
  width: auto;
}

.mobile img {
  margin: 0 1.5rem;
  width: auto;
}

/* Introduction */

#introduction .container {
  flex-direction: column;
}

#introduction .column-left {
  margin: 0;
  padding: 0;
  width: 100%;
}

#introduction .column-right {
  padding: 0;
  width: 100%;
}

#introduction h1 {
	font-size: 2rem;
  line-height: normal;
  margin: 2rem 1rem 0.5rem 0rem;
}

#introduction h3 {
  font-size: 1.25rem;
  margin: 0rem 1rem 1rem 0rem;
}

#introduction .button {
  margin: 1rem 1rem 2rem 0rem;
  width: auto;
}

/* Information */

#information .container {
  flex-direction: column;
}

#information .column-left {
  display: none;
}

#information .column-right {
  padding: 1rem 0;
  width: auto;
}

#information .item {
  flex-direction: column;
  padding: 1rem 1rem;
}

#information .editorial-content {
  align-self: flex-start;
  width: auto;
}

#information .image-content {
  display: none;
}

.mobile-image-content {
  display: block;
}

#information h3 {
  padding-top: 1rem;
}

/* Courses */

.column-central {
  flex-direction: column;
  margin: 1rem 0rem 2rem 0rem;
  padding: 0 0;
  width: 100%;
}

.column-central .item {
  box-sizing: border-box;
  flex: auto;
  margin: 0 0;
  padding: 0.25rem 1rem;
  width: 100%;
}

.column-central .item .editorial-content {
  background-color: lightskyblue;
  display: flex;
}

#courses img,
#courses span,
#courses p {
  display: none;
}

#courses h3 {
  transition: color 0.5s linear, font-weight 0.5s linear;
}

#courses h3:hover {
  color: goldenrod;
  font-weight: bold;
}

/* Thesis */

#thesis .container {
  flex-direction: column;
  padding: 1rem 0 1.5rem 0;
}

#thesis .column-left {
  padding: 0;
  width: auto;
}

#thesis .editorial-content,
#thesis .column-right {
  display: none;
}

/* Footer */

footer .copyright {
  padding: 1rem 1rem;
}

footer .legal {
  display: none;
}

}
